/* Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden; /* Prevent scrolling */
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Helvetica Neue", Arial, sans-serif;

}

/* Navbar Styling */
.navbar {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}

.navbar .logo {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.navbar .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.navbar .search input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.navbar .settings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .settings a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-right:30px

}

/* Container/Form Styling */
.container {
    background-color: #fff;
    padding: 15px; /* Reduced padding */
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 390px;
    position: absolute;
    height: 80%; /* Fixed height */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h2 {
    text-align: center;
    margin-bottom: 15px; /* Reduced margin */
    font-size: 1.2em; /* Reduced font size */
}

.form-group {
    margin-bottom: 15px; /* Reduced spacing between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 3px; /* Reduced spacing below label */
    font-size: 0.85em; /* Reduced font size */
}

.form-group input {
    width: 100%;
    padding: 6px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.85em; /* Reduced font size */
    
}

.form-footer {
    text-align: center;
    margin-top: 30px; /* Reduced margin */
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.form-footer a {
    color: blue;
    text-decoration: underline;
    font-size: 13px; /* Reduced font size */
}
.form-footer .already{
    font-size: 12px;
    margin-left: 35px;
}

.form-footer button {
    padding: 8px 20px; /* Reduced padding */
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    
    font-size: 13px; /* Reduced font size */; /* Adjusted font size */
}

.form-footer button:hover {
    background-color: #555;
}
